{{#partial "content"}}

    <h1> </h1>

    {{#if tasks}}
        {{#each tasks }}
        <div class="panel">
        <div class="panel-heading">
        <div class="panel-body">
            <p><a href="/categories/{{categoryId}}/tasks/{{id}}">{{description}}</a></p>
         </div>
         </div>
        </div>
        {{/each}}
    {{else}}
     <p>No tasks!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}